{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Login{% endblock%}

{% block body %}
    <header>
        <h1>Login symblog</h1>
    </header>
    <article>
        <p>Bientot une pag ede Login ici ...</p>
    </article>
{% endblock %}